.mooncakes/
.xmake
build
.cache
node_modules
dist
output

.vscode

.DS_Store

tools/
.local/

# ignore for now
assets/images
assets/spritesheets
assets/map
assets/map001
assets/minimap
src/lib/resource/AGENTS.md
src/App.vue

_build
target

.agent
.codex
.claude
CLAUDE.md
