.mooncakes/
.xmake
build
.cache
node_modules
dist
output

.vscode

.DS_Store

tools/
.local/

# ignore for now
assets/images
# assets/spritesheets/Item
assets/spritesheets/Map
assets/spritesheets/UI
assets/map
assets/map001
assets/minimap
assets/sound
src/App.vue

_build
target

.codex
.claude
CLAUDE.md

.env.dev