target/
.mooncakes/
.xmake
build
.cache
node_modules
dist
output

.vscode

# windsurf rules
.windsurfrules
.DS_Store

tools/
.local/

# ignore for now
assets/images
assets/spritesheets
assets/map
assets/map001
assets/minimap